//
// Site css
// --------------------------------------------

html, body {
	margin: 0 !important;
	//height: 100%;

}

.content {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

.site-header{


	.header-top {
		width: 100%;
		height: 50px;
		box-sizing: border-box;
		padding: 9px 0;
		background: #2aa2d4;


	}


}
.header-top .content > div, .header-middle .content > div {
	float: left;
	width: 50%;

}

.site-header .header-top .content:after, .header-middle .content:after {
	content: "";
	display: table;
	clear: both;
}

.header-social-links {
	font-size: 0;
	a {
		display: inline-block;
		text-decoration: none;
		background: #FFFFFF;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin: 0 0 0 10px;
        font-size: 15px;
        padding: 8px 0 0 0;
        text-align: center;
        color: #2a2a2a;



		&:first-child {
			margin: 0;
		}


      &:last-child{

        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
	}
}

.header-right-nav{

	ul {
		li {
			a {
				text-decoration: none;
				color: #FFFFFF;
				font-size: 16px;
			}
			display: inline-block;
			padding: 0 5px;
			border-left: 1px solid #FFFFFF;
			&:first-child {
				border: none;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		width: 100%;
		text-align: right;
		margin: 0;
		font-size: 0;
		padding: 10px 0;
	}

}

.header-bottom {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding: 10px 0;
	background: #2a2a2a;
	ul {
		li {
			a {
				text-decoration: none;
				color: #999999;
				text-transform: uppercase;
				font-size: 18px;
			}
			display: inline-block;
			padding: 5px 10px;
			text-align: center;
			border-left: 1px solid #999999;
			&:first-child {
				border: none;
			}
		}
		width: 100%;
		margin: 0;
		font-size: 0;
	}
}

.slider-section{

	.slider-list {
		width: 100%;
		height: 350px;
		background: #353535;
		text-align: center;
		padding: 160px 0 0  0;
		box-sizing: border-box;
		font-size: 42px;
		color: #FFFFFF;
	}


}

